<div>
    <div style="width: 400px">
        Edit the app/app.js file. Replace the "1234_fake_token" with your token and the links will post correctly to your Logentries.com endpoint.
        After pressing a link, go check your logentries dashboard and you will see the error recorded at the approriate level.
    </div>
    <div style= "display: flex; flex-direction: column; width:200px">
        <a href="#" ng-click="sendError('Oops')">Submit Error</a>
        <a href="#" ng-click="sendWarn('Warning!')">Submit Warning</a>
        <a href="#" ng-click="sendInfo('Info')">Submit Info</a>
        <a href="#" ng-click="sendLog('Logging')">Submit Log</a>
    </div>
</div>
